.error {
  position: fixed;
  top: 0;
  color: rgba(0, 0, 0, 0.5);

  background-color: rgba(131, 127, 127, 0.892);
  font-size: 2vmin;
  border: solid 0px black;
  border-radius: 0px 0px 10px 10px;
  font-weight: bold;
  padding: 4px 8px;
}

@media (min-width: 900px) {
  .error {
    text-align: center;
    padding: 0px 30px 2px;
    font-weight: 500;
  }
}
