.intra-style {
  display: flexbox;
  font-size: 8vmin;
  text-align: center;
  margin: 0 5vmin;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

@media (min-width: 800px) {
  .intra-style {
    font-size: 7vmin;
    margin: 3vmin 5vmin;
  }
}
