.weather-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2vmin;
  padding: 16px;
}

.upcoming-days-container {
  width: 80vmin;
  height: 30vmin;
}

.future-forecast {
  border-radius: 8px;
  background: rgba(60, 60, 61, 0.377);
  padding: 15px 0px 15px 0px;
  position: relative;
  justify-content: center;
  align-items: none;
  display: flex;
  color: white;
  overflow-y: none;

  width: 80vmin;
}

@media (max-width: 600px) {
  .future-forecast {
    justify-content: start;
    overflow-y: scroll;
    width: 85vmin;
  }
}

@media (min-width: 900px) {
  .future-forecast {
    padding: 1vmin 10vmin;
    width: 100vh;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    padding: 0;
  }

  .weather-list {
    gap: 2.8rem;
  }
}
